<!-- header start -->
<%- include ('./layout/header.ejs') %>
<!-- header end -->

<center><h2>Contact Us</h2></center>


<b><h2>Address:</h2></b>
    
3<sup>rd</sup>block,any street, any area, surat-395010<br>

<b><h2></h2:>contact:</h2></b>
<b>Mobile:</b>+91-9876543210<br>
<b>Email:</b>anynme123@gmail.com
