<!-- header -->
<%- include('./layout/header.ejs')%>

<center><h2>Services</h2></center>

<ol type="I">

<h3><li align="left">Design</li></h3>

<ol type="a" align="left">

<h3><li>Web Design</li></h3>
<h3><li>Graphic Design</li></h3>

</ol>

<h3><li align="left">Developing</li></h3>

<ol type="a" align="left">

<h3><li>Web Design</li></h3>
<h3><li>Graphic Design</li></h3>

</ol>

<h3><li align="left">Programming</li></h3>

<ol type="a" align="left">
<h3><li>Android</li></h3>
<h3><li>iOS</li></h3>
</ol>


</ol>
